.album-cnt__btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    background: var(--primary);
    color: var(--dark);
    border-radius: 13px;
    font-size: var(--h3);
    width: 150px;
    height: 60px;
}

.btn i {
    color: var(--dark);
    margin-right: 10px;
}

.btn-mark {
    background: var(--white);
    width: 60px;
    border-radius: 30px;
    margin-right: 15px;
}
.btn-mark i {
    margin-right: 0px;
    color: #c4302b;
}