// Color Palette
// primary secondary tertiary quaternary quinary senary septenary octonary nonary denary
$primary: #e7473c;
$secondary: #e12d30;
$darker: #831d16;
$muted: #666;
$faint: #888;
$white: #fff;

// Typography // Elements of a nespaper
// display-2x, xl, lg, md headline title subheading body 1, 2 caption button 
$headline: 4em; //72px
$lead: 1.5em; //25px
$body: .95em; //15px
$label: .85em; //13.5px
$caption: .625em; //10px

// Buttons 