html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Kano";
  font-weight: 400;
  src: url("../fonts/Kano.otf") format("opentype");
}
* {
  word-break: keep-all;
  box-sizing: border-box;
}

body {
  display: flex;
}

p {
  line-height: 150%;
}

header {
  width: 33%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  color: #e7473c;
  background-color: #f0f0f0;
}
header .heading {
  padding: 10vh 72px;
  height: 50vh;
}
header .heading h1 {
  font-family: "Kano", sans-serif;
  font-size: 4.5em;
  text-transform: uppercase;
  transform: scaleX(120%);
  transform-origin: left top;
}
header .heading h1 span {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath style='fill:%23e7473c;' d='M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z'/%3E%3C/svg%3E") no-repeat center 18px;
  background-size: 50%;
}
header .contents {
  padding: 72px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 50vh;
}
header .contents .title {
  font-size: 1.5em;
  margin-bottom: 24px;
}
header .contents .desc {
  font-size: 0.95em;
}
header .contents nav {
  font-size: 0.85em;
  margin-top: 27px;
}
header .contents nav a {
  text-decoration: none;
  color: #666;
  border-bottom: 1px solid #666;
  padding-bottom: 2px;
  line-height: 200%;
  margin-right: 0.65em;
}
header .contents nav a:hover {
  color: #333;
  border-bottom-color: #333;
}
header .contents .footer {
  font-size: 0.625em;
  color: #888;
  margin-top: 20px;
}

main {
  width: 67%;
  margin-left: 33%;
  background-color: #e7473c;
}
main .sticky-header {
  width: inherit;
  height: 140px;
  position: fixed;
  border-bottom: 1px solid rgba(131, 29, 22, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7473c;
  opacity: 97%;
  z-index: 1;
}
main .sticky-header p {
  color: #fff;
  font-size: 110%;
}
main .sticky-header p a {
  color: #831d16;
}
main .sticky-header p a:hover {
  color: #fff;
}
main .container {
  margin-top: 140px;
}
main .container article {
  padding: calc(10vh + 0.9em);
}
main .container article .heading {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 36px;
}
main .container article .heading h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 4em;
  position: relative;
}
main .container article .heading h2 i {
  color: #831d16;
  top: 0;
  left: -50px;
  position: absolute;
  opacity: 50%;
}
main .container article .heading span {
  margin-top: 13px;
}
main .container article .hero {
  width: 100%;
}
main .container article .hero .thumb {
  position: relative;
}
main .container article .hero .thumb img {
  width: 100%;
}
main .container article .hero .thumb a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}/*# sourceMappingURL=style.css.map */