/* playing */
.main__playing {
    margin-top: 40px;
    padding: var(--vertical-space);
    display: flex; 
    align-items: center; 
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.main__playing--bg {  
    background: url(../images/cd_img04.jpg) no-repeat center;
    filter: blur(30px);
    width: 100%;
    height: 280px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    overflow: hidden;
}
.playing__cover {width: 250px; margin-bottom: 50px;}
.playing__cover img {width: 100%;border-radius: 20px;}
.playing__music {margin-bottom: 5px;}


/* play bar */ 
.main__play-bar {padding: var(--vertical-space); margin-bottom: 35px;}
.play-bar__time {
    display: flex;
    justify-content: space-between;
    font-size: var(--h5);
    margin-bottom: 10px;
}
.play-bar__time span {color: var(--secondary);}
.play-bar__timebar {
    width: 100%;
    height: 3px; 
    position: relative;
}
.timebar__play, .timebar__play--run {
    position: absolute;
    background: var(--tertiary); 
    width: inherit; 
    height: inherit; 
    border-radius: 3px;
}
.timebar__play--run {
    width: 60% !important;
    background: #333 !important; 
}

.timebar__play--run span {width: 8px;height: 8px;position: absolute; top: -2px; right: -2px;z-index: 1;background: inherit; border-radius: 10px;}


/* play controller */
.main__play-controller {padding: var(--vertical-space);display: flex;justify-content: space-between;align-items: center;}
.main__play-controller i:first-child, .main__play-controller i:last-child {color: var(--tertiary);}
