%button {
    padding: 20px;
    border: 1px solid $base;
    width: 200px;
    &:hover {
        background-color: $base;
        color: #fff;
        transition: background-color .3s cubic-bezier(.165,.84,.44,1),color .3s cubic-bezier(.165,.84,.44,1);
    }
}

%contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 80px;
}